<style type="text/css">
.carousel {
    position: relative;
    width: 100%;
    height: 600px;
}
</style>
<script type="text/javascript">

	$(document).ready(function(){
    	$('.carousel').slick({
    		
  infinite: true,
		  centerMode: true,
		  centerPadding: '60px',
		  slidesToShow: 3,		  
		  responsive: [
		    {
		      breakpoint: 768,
		      settings: {
		        arrows: false,
		        centerMode: true,
		        centerPadding: '40px',
		        slidesToShow: 3
		      }
		    },
		    {
		      breakpoint: 480,
		      settings: {
		        arrows: false,
		        centerMode: true,
		        centerPadding: '40px',
		        slidesToShow: 1
		      }
		    }
		  ]
		});
  	});

	

</script>

<h1>Listing players</h1>

  <div class="carousel">
	  	<% @players.each do |player| %>
	    	
	    		<div class="container" id="body">
	    		  	  <div class="potm futcard animate-infinite bouncing card-<%=player.id%>">
	    		  	    <div class="rating rating-<%=player.id%>">0</div>
	    		  	    <div class="position position-<%=player.id%>">ST</div>
	    		  	    <div class="team team-<%=player.id%>"></div>
	    		  	    <div class="country country-<%=player.id%>"></div>
	    		  	    <div class="image image-<%=player.id%>"></div>
	    		  	    <div class="name name-<%=player.id%>"></div>
	    		  	    <div class="stats left">
	    		  	      <span><strong class="pace pace-<%=player.id%>">0</strong>PAC</span>
	    		  	      <span><strong class="shooting shooting-<%=player.id%>">0</strong>SHO</span>
	    		  	      <span><strong class="passing passing-<%=player.id%>">0</strong>PAS</span>
	    		  	    </div>
	    		  	    <div class="stats right">
	    		  	      <span><strong class="dribbling dribbling-<%=player.id%>">0</strong>DRI</span>
	    		  	      <span><strong class="defending defending-<%=player.id%>">0</strong>DEF</span>
	    		  	      <span><strong class="physical physical-<%=player.id%>">0</strong>PHY</span>
	    		  	    </div>
	    		  	    <div class="chemistry">
	    		  	    	
	    		  	    </div>
	    		  	  </div>
	    		  	  <a target href="/players/<%=player.id%>" class="waves-effect waves-light btn">View Player</a>

    		</div>
	    <% end %>

	    
	</div>

	<% @players.each do |player| %>
	    	  <script type="text/javascript">
	    	fillCards(<%=player.to_json.html_safe%>)
	    	</script>
	    <% end %>
